APP_NAME="VSM Enterprise"

APP_ENV=development

APP_DEBUG=true


DB_CONNECTION=mysql

DB_HOST=database

DB_PORT=3306

DB_DATABASE=vsm_enterprise

DB_USERNAME=vsm_user

DB_PASSWORD=vsm_password


REDIS_HOST=redis

REDIS_PORT=6379
